@use "./partials/fonts" as *;
@use "./partials/global" as *;

/**************************/
/* Hero */
/**************************/
.destination-hero {
  &--Hawaii {
    background-image: url(../Assets/Images/hawaii.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--Iceland {
    background-image: url(../Assets/Images/iceland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--Greece {
    background-image: url(../Assets/Images//greece.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  width: 100vw;
  height: 90vh;
  padding-top: 11.5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  gap: 2rem;
  align-items: center;
}
.destination-hero {
  h1 {
    font-size: 5rem;
    color: $white;
    // margin-top: 5rem;
    // margin-bottom: 3rem;
    text-shadow: 0.5px 0.5px 2px $text-color;
  }
  button {
    color: $white;
    width: fit-content;
    justify-self: center;
    align-self: start;
    font-size: 1.8rem;
    padding: 1rem 5rem;
    &:hover {
      background-color: $white;
    }
  }
}
.itinerary {
  display: flex;
  justify-content: center;
  // margin-top: 8rem;
  gap: 4rem;
  color: black;
  &__card {
    width: 26rem;
    height: 36rem;
    background-color: $white;
    @include card-border-shadow;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h3 {
      border-bottom: 3px solid black;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      background-color: $background-color;
      width: 100%;
      text-align: center;
      padding: 1rem;
    }
    &:hover {
      p {
        box-shadow: 1px 1px $style-color;
      }
    }
  }
}
