@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-Regular.eot");
  src: local("../../Assets/Fonts/Verdana Pro"), local("../../Assets/Fonts/VerdanaPro-Regular"), url("../../Assets/Fonts/VerdanaPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-Regular.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-Regular.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-Bold.eot");
  src: local("../../Assets/Fonts/Verdana Pro Bold"), local("../../Assets/Fonts/VerdanaPro-Bold"), url("../../Assets/Fonts/VerdanaPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-Bold.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-Bold.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-Light.eot");
  src: local("../../Assets/Fonts/Verdana Pro Light"), local("../../Assets/Fonts/VerdanaPro-Light"), url("../../Assets/Fonts/VerdanaPro-Light.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-Light.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-Light.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-SemiBold.eot");
  src: local("../../Assets/Fonts/Verdana Pro SemiBold"), local("../../Assets/Fonts/VerdanaPro-SemiBold"), url("../../Assets/Fonts/VerdanaPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-SemiBold.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-SemiBold.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-Black.eot");
  src: local("../../Assets/Fonts/Verdana Pro Black"), local("../../Assets/Fonts/VerdanaPro-Black"), url("../../Assets/Fonts/VerdanaPro-Black.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-Black.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-Black.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-Italic.eot");
  src: local("../../Assets/Fonts/Verdana Pro Italic"), local("../../Assets/Fonts/VerdanaPro-Italic"), url("../../Assets/Fonts/VerdanaPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-Italic.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-Italic.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-BoldItalic.eot");
  src: local("../../Assets/Fonts/Verdana Pro Bold Italic"), local("../../Assets/Fonts/VerdanaPro-BoldItalic"), url("../../Assets/Fonts/VerdanaPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-BoldItalic.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-BoldItalic.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-LightItalic.eot");
  src: local("../../Assets/Fonts/Verdana Pro Light Italic"), local("../../Assets/Fonts/VerdanaPro-LightItalic"), url("../../Assets/Fonts/VerdanaPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-LightItalic.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-LightItalic.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-SemiBoldItalic.eot");
  src: local("../../Assets/Fonts/Verdana Pro SemiBold Italic"), local("../../Assets/Fonts/VerdanaPro-SemiBoldItalic"), url("../../Assets/Fonts/VerdanaPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-SemiBoldItalic.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-SemiBoldItalic.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Verdana Pro";
  src: url("../../Assets/Fonts/VerdanaPro-BlackItalic.eot");
  src: local("../../Assets/Fonts/Verdana Pro Black Italic"), local("../../Assets/Fonts/VerdanaPro-BlackItalic"), url("../../Assets/Fonts/VerdanaPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../Assets/Fonts/VerdanaPro-BlackItalic.woff2") format("woff2"), url("../../Assets/Fonts/VerdanaPro-BlackItalic.woff") format("woff"), url("../../Assets/Fonts/VerdanaPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Verdana Pro";
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
  transition: all 0.5s 0.5s ease-in-out;
  font-size: 1.6rem;
  color: #335576;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

.container {
  /* 1280px */
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

hr {
  border: 1px solid rgb(155, 155, 155);
}

/**************************/
/* Button */
/**************************/
.btn {
  background-color: #db7a4e;
  padding: 0.6rem 3rem;
  border-radius: 2rem;
  border: none;
}
.btn:hover {
  cursor: pointer;
  color: #335576;
  background-color: transparent;
  border: 2px solid #335576;
}

/**************************/
/* navigation */
/**************************/
.NavBackground {
  background-color: #ffffff;
  height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.header__nav--logo {
  font-weight: 900;
  font-size: 2rem;
}
.header__nav--menu {
  display: flex;
  gap: 0.8rem;
  font-size: 1.4rem;
}
.header__nav--menu-item {
  padding: 1rem;
  cursor: pointer;
}

.active {
  border-bottom: 0.4rem solid #db7a4e;
}

.activeb {
  border-bottom: 0.5rem solid #335576;
}

/**************************/
/* Search navigation */
/**************************/
.search-nav-background {
  position: fixed;
  top: 5rem;
  background-color: #335576;
  height: 4rem;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.search-nav select,
.search-nav input {
  width: 20rem;
  height: 3rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fefaf5;
  border-radius: 9px;
  display: flex;
}
.search-nav select:hover,
.search-nav input:hover {
  outline: 0.2rem solid black;
  outline-offset: -0.2rem;
}
.search-nav #searchbtn {
  border-radius: 9px;
  width: 25rem;
  height: 3rem;
  color: #fefaf5;
}
.search-nav #searchbtn:hover {
  transform: scale(1.1);
  border: 1px solid #fefaf5;
}

/**************************/
/* Dropdown Button  */
/**************************/
#dropdownPart {
  display: none;
}

.dropdown {
  z-index: 999;
}

.dropbtn {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 300;
  right: -10px;
  top: 0.5rem;
  background-color: transparent;
  border: 2px solid #db7a4e;
  border-radius: 9px;
  padding: 0.3rem 5rem 0.3rem 0.3rem;
  position: fixed;
  color: #db7a4e;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #393939;
}

.dropbtn2 {
  border: 2px solid #db7a4e;
  padding: 0.2rem 1rem;
  border-radius: 9px;
}

.dropdown-content {
  width: 150px;
  height: 200px;
  margin-top: 4rem;
  display: none;
  /* position: absolute; */
  font-size: 1.8rem;
  background-color: #fefaf5;
  box-shadow: 0px 0.5rem 0.5rem 0px #393939;
  z-index: 999;
  padding-left: 1rem;
}

.dropdown-content a {
  color: #335576;
  /* padding: 1rem 1rem; */
  text-decoration: none;
  /* display: flex; */
}

.dropdown-content a:hover {
  background-color: #db7a4e;
  padding: 0.2rem 1rem;
  border-radius: 9px;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in;
  position: fixed;
  right: 2rem;
  top: 1rem;
}

/**************************/
/* Footer */
/**************************/
.footerBackground {
  background-color: #fefaf5;
  padding: 4rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  font-size: smaller;
}
.footer h6 {
  color: #db7a4e;
  font-weight: 300;
}
.footer h2 {
  border-bottom: 1px dotted #767676;
  width: 100%;
}
.footer__hours--days {
  display: flex;
  gap: 2rem;
}
.footer__social--logos {
  display: flex;
  gap: 2rem;
}
.footer__social--logos img {
  margin-top: 1.5rem;
}

.footer__hours,
.footer__contact,
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/**************************/
/* Hero Section */
/**************************/
.hero-background {
  background-color: #fefaf5;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 9rem;
  gap: 4rem;
  position: relative;
}
.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 3rem;
  grid-column: 1;
}
.hero__left--heading {
  font-size: 4rem;
}
.hero__left--button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  color: #335576;
}
.hero__right {
  grid-column: 2;
}
.hero__right img {
  width: 40rem;
}

.hero__right {
  position: relative;
}
.hero__right--light {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.hero__right--light:hover {
  opacity: 1;
}

#hero__airplane-animation {
  position: absolute;
  bottom: -8rem;
  left: 2rem;
  animation: airplane 8s 1s infinite ease-out;
}

@keyframes airplane {
  0% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(95rem, -40rem);
  }
  100% {
    transform: translate(95rem, -30rem);
  }
}
/**************************/
/* Recommendations */
/**************************/
.recommendations {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.recommendations__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.recommendations__card--item {
  width: 28rem;
  height: 40rem;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.2);
  color: #ffffff;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 2rem 2rem;
  font-size: 2rem;
}
.recommendations__card--item:hover {
  border: 2px solid #ffffff;
  transform: scale(1.05);
}

.item1 {
  background-image: url(../Assets/Images/hawaii.jpg);
}

.item2 {
  background-image: url(../Assets/Images/iceland.jpg);
}

.item3 {
  background-image: url(../Assets/Images/greece.jpg);
}

.item1,
.item2,
.item3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************/
/* Recommendations flip cards */
/******************************/
.recommendations__card2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 10rem auto;
}

.flip-card {
  background-color: transparent;
  width: 28rem;
  height: 40rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}