@use './partials/fonts' as *;
@use './partials/global' as *;

/**************************/
/* Hero Section */
/**************************/
.hero-background {
  background-color: $background-color;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 9rem;
  gap: 4rem;
  position: relative;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 3rem;
    grid-column: 1;
    &--heading {
      font-size: 4rem;
    }
    &--button {
      width: fit-content;
      padding: 1rem 3rem;
      font-size: 1.8rem;
      color: $text-color;
    }
  }

  &__right {
    grid-column: 2;
    & img {
      width: 40rem;
    }
  }
}
.hero__right {
  position: relative;
  &--light {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}
#hero__airplane-animation {
  position: absolute;
  bottom: -8rem;
  left: 2rem;
  animation: airplane 8s 1s infinite ease-out;
}
@keyframes airplane {
  0% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(95rem, -40rem);
  }
  100% {
    transform: translate(95rem, -30rem);
  }
}

/**************************/
/* Recommendations */
/**************************/
.recommendations {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  &__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    &--item {
      width: 28rem;
      height: 40rem;
      @include card-border-shadow;
      color: $white;
      display: flex;
      align-items: end;
      justify-content: end;
      padding: 2rem 2rem;
      font-size: 2rem;
      &:hover {
        border: 2px solid $white;
        transform: scale(1.05);
      }
    }
  }
}
.item1 {
  background-image: url(../Assets/Images/hawaii.jpg);
}
.item2 {
  background-image: url(../Assets/Images/iceland.jpg);
}
.item3 {
  background-image: url(../Assets/Images/greece.jpg);
}
.item1,
.item2,
.item3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************/
/* Recommendations flip cards */
/******************************/
.recommendations__card2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 10rem auto;
}
.flip-card {
  background-color: transparent;
  width: 28rem;
  height: 40rem;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  @include card-border-shadow;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// .flip-card-front {
//   background-color: #bbb;
//   color: black;
// }

.flip-card-back {
  transform: rotateY(180deg);
}
