// *********************
// variables
// *********************

// **********colors***********
$white: #ffffff;
$text-color: #335576;
$style-color: #db7a4e;
$background-color: #fefaf5;

// ******borderAndSahdow*******
@mixin card-border-shadow {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.2);
}

// *********************
// reset
// *********************
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Verdana Pro";
  line-height: 1.2;
  font-weight: 400;
  overflow-x: hidden;
  transition: all 0.5s 0.5s ease-in-out;
  // width:80vw;
  // margin: auto;
  font-size: 1.6rem;
  color: $text-color;
}
ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

.container {
  /* 1280px */
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/**************************/
/* Button */
/**************************/
.btn {
  &:hover {
    cursor: pointer;
    color: $text-color;
    background-color: transparent;
    border: 2px solid $text-color;
  }
}

/**************************/
/* navigation */
/**************************/
.NavBackground {
  background-color: $white;
  height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  &--logo {
    font-weight: 900;
    font-size: 2rem;
  }
  &--menu {
    display: flex;
    gap: 0.8rem;
    font-size: 1.4rem;
    &-item {
      padding: 1rem;
      cursor: pointer;
      &-button {
        background-color: $style-color;
        padding: 0.6rem 1rem;
        border-radius: 2rem;
      }
      &:hover {
        border-bottom: 0.2rem solid $style-color;
      }
    }
  }
}

.active {
  border-bottom: 0.4rem solid $style-color;
}
.activeb{
  border-bottom: 0.5rem solid $text-color;
}

/**************************/
/* Search navigation */
/**************************/
.search-nav-background {
  position: fixed;
  top: 5rem;
  background-color: $text-color;
  height: fit-content;
  width: 100vw;
  padding: 0.5rem 0;
  z-index: 999;
}
.search-nav {
  display: flex;
  justify-content: start;
  gap: 2rem;
  select,
  input {
    width: 25rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: $background-color;
    border-radius: 9px;
    display: flex;
  }
  button {
    display: inline-block;
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/**************************/
/* Footer */
/**************************/
.footerBackground {
  background-color: $background-color;
  padding: 4rem 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  line-height: 2;

  & h6 {
    color: $style-color;
    font-weight: 300;
  }
  &__hours--days {
    display: flex;
    gap: 3rem;
  }
  &__social--logos {
    display: flex;
    gap: 3rem;
    & img {
      margin-top: 1.5rem;
    }
  }
}
.footer__hours,
.footer__contact,
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
